.site-header {
    background-color: navajowhite;
    color: black;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.site-header h1 a {
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.site-header nav a {
    color: black;
    text-decoration: none;
    margin-left: 15px;
}

.site-header nav a:hover {
    color: black;
    text-decoration: underline;
}